.logo {
	width: 50px;
	height: 50px;
}

#coming-soon {
	margin-top: 40px;
	text-align: center;
}

#powered-by {
	color: white;
	margin-top: 20px;
	font-weight: bold;
	text-align: right;
	margin-right: 10px;
}

.footer {
	position: absolute;
	bottom: 0px;
	height: 60px;
	width: 100%;
	background-color: #800000;
}

.xdgames-brand {
	margin-top: 20px;
	background
}

.navbar-default{
	background: #800000;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-brand {
	color:white;
}